@model Web.Models.TeamModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Team</h2>
<form method="post">
    <div class="form-group">
        <label for="Name">Name:</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    <div>
        <input type="submit" value="Create" />
        <input type="button" value="Cancel" onclick="window.location.href = '@Url.Action("Index", "Home")'" />
    </div>
</form>


